kevin_profiling_tools/

model_study/*

operator_search/*.json

operator_search/temp**

pynvml/*

working_example_pytorch_operator_loop/logs/*

working_example_pytorch_operator_loop/mediumoldlogs/*

working_example_pytorch_operator_loop/oldlogs/*

working_example_pytorch_operator_loop/newoldlogs/*

working_example_pytorch_operator_loop/*.out

profiling_playground/*

analysis/*.csv

analysis/logs/*

functional_general_benchmark/*.pkl.xz

functional_general_benchmark/*.log

functional_general_benchmark/*.out

functional_general_benchmark/dataset_history

measurements/*.pkl.xz

measurements/*.pkl.xz_filtered

measurements/
measurements/inception_v3_32,3,299,299/inception_v3_32_3_299_299.pkl.xz_filtered
measurements/resnet18_32,3,224,224/resnet18_32_3_224_224.pkl.xz_filtered
measurements/resnet34_32,3,224,224/resnet34_32_3_224_224.pkl.xz_filtered
measurements/resnet34_32,3,56,56/resnet34_32_3_56_56.pkl.xz_filtered


functional_general_benchmark/plots/

functional_general_benchmark/misc_files/

dataset*

datasets/

functional_general_benchmark/current*
functional_general_benchmark/continous_logs/

random_forest/*.pkl

random_forest/model_dump/*.pkl