kevin_profiling_tools/*

model_study/*

operator_search/*.json

operator_search/temp**

pynvml/*

working_example_pytorch_operator_loop/logs/*

working_example_pytorch_operator_loop/mediumoldlogs/*

working_example_pytorch_operator_loop/oldlogs/*

working_example_pytorch_operator_loop/newoldlogs/*

working_example_pytorch_operator_loop/*.out

profiling_playground/*

analysis/*.csv

analysis/logs/*

functional_general_benchmark/*.pkl.xz

functional_general_benchmark/*.log

functional_general_benchmark/*.out

functional_general_benchmark/dataset_history